.gradient-background{

    min-height: 40em;
    max-height: 50em;
    text-align: center;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

/* Footer style commences here. */

/* Ends here. */

/* Login form style commences here. */
.solid-background{

    background-color: gray;
}

#float-in-from-the-left{

    position: absolute;
    left: -100px;
    width: 100px;
    height: 100px;
    background: blue;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes float-in-from-the-left {
    100% { left: 0; }
}

@keyframes float-in-from-the-left {
    100% { left: 0; }
}
/* Ends here. */